a{
    text-decoration:none;
}
a:link{

    text-decoration:none;
    color:#111111;
}
a:visited {
    text-decoration:none;
    color:#111111;
}

a:hover {
    text-decoration:none;
    color:#111111;
}

a:active {
    text-decoration:none;
    color:#111111;
}
#sekil1
{
  position: absolute;
  right: 45%;
  top: 15%;
}
#form
{
    margin-left:580px;
    margin-top: 300px;
    /* position: absolute; */
    /* left: 580px; */
    /* top: 300px; */
}
.main{
    margin-left:580px;
}
.back
{
  background-color:#29323c;
  color: rgb(153, 255, 187);
  margin-top: 0px;
  height:70px;
  
}
#home
{
    font-size: xx-large;
    color: rgb(153, 255, 187);
    margin-left: 10%;
    
}
#about
{
    font-size: xx-large;
    color:rgb(153, 255, 187) ;
    position: absolute;
    right: 30%;
}
#Products
{
    font-size: xx-large;
    color: rgb(153, 255, 187);
    position: absolute;
    right: 20%;
}
#contact
{
    font-size: xx-large;
    color: rgb(153, 255, 187);
    position: absolute;
    right: 10%;
}

#end{
    color:rgb(153, 255, 187);
    background-color:#29323c;
    font-size:24px;
    text-align: center;
    margin-bottom:0px;
}
#button
{
    top: 87%;
    border-radius: 14px;
    background-color: rgb(79, 116, 79);
    width: 200px;
    height: 30px;
}
#msg1 , #msg2 , #msg3 , #msg4 , #msg5{
    color:red;
    font-size:10px;
} 

.card{
    height: 30px;
    width: 200px;
    border-radius: 14px;
    position: absolute;
    left: 580px;
    /* top: 300px; */
    /* margin-left: 580px; */
}
.cards{
    height: 30px;
    width: 200px;
    border-radius: 14px;
}
.carditem{
    height: 35px;
    width: 75px;
    border-radius: 14px;
}