*{
    background-color: rgb(115, 59, 59);
    text-align: center;
}
h1{
    color: white;
}
input{
    background-color: white;
    width: 300px;
    height: 40px;
    border-radius: 8px;
}
#button{
    background-color: rgb(192, 192, 65);
    cursor: pointer;
}
.card{
    width: 140px;
    background-color: white;
    height: 40px;
    border-radius: 8px;
}
.cards{
    width: 96.5px;
    background-color: white;
    height: 40px;
    border-radius: 8px;
}
.cardsitem{
    width: 200px;
    color: white;
    cursor: pointer;
    margin-left: 630px;
}
.defolt{
    display: none;
    /* visibility: hidden; */
}