a{
    text-decoration:none;
}
a:link{

    text-decoration:none;
    color:#111111;
}
a:visited {
    text-decoration:none;
    color:#111111;
}

a:hover {
    text-decoration:none;
    color:#111111;
}

a:active {
    text-decoration:none;
    color:#111111;
}
#sekil1
{
  position: absolute;
  right: 47%;
  top: 15%;
}
#form
{
    position: absolute;
    right: 47%; 
    top: 55%;

}
.back
{
  background-color:#29323c;
  color: rgb(153, 255, 187);
  height:70px;
  
}
#home
{
    font-size: xx-large;
    color: rgb(153, 255, 187);
    margin-left:10%;
    
}
#about
{
    font-size: xx-large;
    color:rgb(153, 255, 187) ;
    position: absolute;
    right: 30%;
}
#Products
{
    font-size: xx-large;
    color: rgb(153, 255, 187);
    position: absolute;
    right: 20%;
}
#contact
{
    font-size: xx-large;
    color: rgb(153, 255, 187);
    position: absolute;
    right: 10%;
}

#end{
    color:rgb(153, 255, 187);
    background-color:#29323c;
    font-size:24px;
    text-align: center;
    margin-bottom:0px;
}

#txtmsg , #txtmsg1{
    font-size: 10px;
    color:red;
}
.card{
    width: 200px;
    height: 30px;
    border-radius: 14px;
}
.button{
    width: 200px;
    height: 30px;
    border-radius: 14px;
    background-color: rgb(67, 151, 67);
    cursor: pointer;
}
